@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito sans, Sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    background-color: #1a1a1a;
}

/* headings and logo */

h1 {
    font-family: Nunito sans, Sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #d9d9d9;
    font-size: 350%;
    display: block;
}

h2 {
    display: block;
}

#about-section-heading {
    text-align: center;
}

#logo {
    float: left;
    font-size: 300%;
}

#logo:hover{
    background-color: #d9d9d9;
    color: #1a1a1a;
    background-size: cover;
}

/* nav bar & links */
#menu {
    font-size: 110%;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row-reverse;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #d9d9d9;
    color: #1a1a1a;
    font-size: 100%;
    font-weight: bold;
}

.underline {
    border-bottom: 3px solid #d9d9d9;
}

.underline:hover {
    border-color: #1a1a1a;
}

#li-one {
    order: 3;
}

#li-two {
    order: 2;
}

#li-three {
    order: 1;
}

/* hero image */
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

    /* animation zoom out effect on homepage load */

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* create zoom out for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{ transform: scale(1);
    }
}

/* about section */
#about-section {    
    display: block;
    padding: 50px 150px;
    height: 300px;
    font-size: 20px;
    line-height: 35px;

}.text-button {
    
    color: inherit;
}

.text-button:hover {
    background-color: #d9d9d9;
    color: #1a1a1a;
    font-size: 100%;
    font-weight: bold;    
}





