@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito sans, Sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Nunito sans, Sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #d9d9d9;
}

#logo {
    float: left;
    font-size: 250%;
}